<p><i class="fa fa-id-badge fa-lg fa-fw"></i> <a href="https://keybase.io/ayharano" target="_blank">keybase.io/ayharano</a></p>
<p><i class="fa fa-telegram fa-lg fa-fw"></i> <a href="https://t.me/ayharano" target="_blank">@ayharano</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ayharano" target="_blank">@ayharano</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/ayharano/" target="_blank">@ayharano</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ayharano" target="_blank">linkedin.com/in/ayharano</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:contact+website@harano.net.br" target="_blank">contact+website@harano.net.br</a></p>
