<p><i class="fab fa-keybase fa-lg fa-fw"></i> <a href="https://keybase.io/ayharano">@ayharano</a></p>
<p><i class="fab fa-telegram fa-lg fa-fw"></i> <a href="https://t.me/ayharano">@ayharano</a></p>
<p><i class="fab fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ayharano">@ayharano</a></p>
<p><i class="fab fa-github fa-lg fa-fw"></i> <a href="https://github.com/ayharano/">@ayharano</a></p>
<p><i class="fab fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ayharano">@ayharano</a></p>
<p><i class="far fa-envelope fa-lg fa-fw"></i> <a href="mailto:contact+website@harano.net.br">contact+website@harano.net.br</a></p>
